@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';


*{
  font-family: 'outfit', sans-serif;
}

.text-violet {
  color: #5f1adf;
}

.btn-violet{
  color: white;
  background-color: #5f1adf;
  padding: 3px 10px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
}

.cursor-pointer{
  cursor: pointer;
}