body{
  margin: 0;
  padding: 0;
}

.flex{
  display: flex;
  justify-content: center;
}

.flex .flex-column{
  align-items: center;
  flex-direction: column;
}

.dark {
  background-color: black;
  color: white;
  width: 100%;
  text-align: center;
}

.h-full{
  height: 97vh;
}

.btn{
  width: 200px;
  font-size: large;
  padding: 5px 12px;
  border-radius: 5px;
}
.btn-dark{
  background-color: black;
  color: white;
}

li{
  width: 150px;
  display: flex;
  justify-content: space-between;
}